<div style="margin: 20px; display:flex; gap:20px; padding-block:20px;">
    <ComponentsTest.Components.Cards.CardProject></ComponentsTest.Components.Cards.CardProject>
    <ComponentsTest.Components.Cards.CardProject></ComponentsTest.Components.Cards.CardProject>
    <ComponentsTest.Components.Cards.CardProject></ComponentsTest.Components.Cards.CardProject>
    <ComponentsTest.Components.Cards.CardProject></ComponentsTest.Components.Cards.CardProject>
    <ComponentsTest.Components.Cards.CardProject></ComponentsTest.Components.Cards.CardProject>
    <ComponentsTest.Components.Cards.CardProject></ComponentsTest.Components.Cards.CardProject>
</div>


@code {

}
