<div class="main-wrapper">
    <h1 style="position: absolute; font-size:14px;">q1wqewqeqwe</h1>
    <div class="bar">

    </div>
</div>

@code {
    public int Current = 0;
    public int Max = 100;
    public string Text = "";
}
